* {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

/************ VARIABLES ********************************/
/* for sass-file */
/************ HEADER ********************************/
.header_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #839960;
  border-bottom: 1px solid #037d7d;
  box-shadow: 0 2px 4px #505050;
  z-index: 1;
  /************ NAV BUTTON ********************************/
  /************ WEBSITE NAME ********************************/ }
  .header_box .btn_box_visible,
  .header_box .webpage_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .header_box .btn_box_visible {
    width: 14%; }
    .header_box .btn_box_visible .nav_show_btn {
      width: 28px;
      outline: none;
      padding: 2px 2px 0 2px;
      border: 1px solid #0c6b6b;
      border-radius: 4px;
      background: #792525;
      box-shadow: 0 0 2px #505050; }
      .header_box .btn_box_visible .nav_show_btn img {
        height: 20px; }
      .header_box .btn_box_visible .nav_show_btn:hover {
        cursor: pointer;
        background: rgba(31, 148, 221, 0.6);
        border: 1px solid #ffca57;
        box-shadow: inset 0 0 2px #505050; }
  .header_box .btn_box_hidden {
    display: none; }
  .header_box .webpage_name {
    width: 80%; }
    .header_box .webpage_name .title {
      width: 100%;
      color: #054a6e;
      font-family: "Jura", sans-serif, sans-serif;
      font-weight: 900;
      letter-spacing: 2px;
      text-align: center; }

/************ NAV ***********************************/
.hidden_nav {
  display: none; }

.visible_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  top: 61px;
  position: fixed;
  background: #792525;
  box-shadow: 0 2px 4px #505050;
  z-index: 1; }
  .visible_nav .btn_box_visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 14%;
    height: 60px;
    background: #792525; }
    .visible_nav .btn_box_visible .nav_hide_btn {
      width: 28px;
      outline: none;
      padding: 2px 2px 0 2px;
      border: 1px solid #0c6b6b;
      border-radius: 4px;
      background: #839960;
      box-shadow: 0 0 2px #505050; }
      .visible_nav .btn_box_visible .nav_hide_btn img {
        height: 20px; }
      .visible_nav .btn_box_visible .nav_hide_btn:hover {
        cursor: pointer;
        background: rgba(31, 148, 221, 0.6);
        border: 1px solid #ffca57;
        box-shadow: inset 0 0 2px #505050; }
  .visible_nav .nav_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 84%; }
    .visible_nav .nav_box .navButton {
      margin: 0 1px;
      padding: 5px 5px;
      background: #ffca57;
      border: 1px solid #0c6b6b;
      border-radius: 4px;
      box-shadow: 0 0 2px #505050; }
      .visible_nav .nav_box .navButton a {
        color: #1a5323;
        font-family: "Gruppo", cursive;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none; }
        .visible_nav .nav_box .navButton a img {
          height: 16px;
          margin-right: 4px; }
      .visible_nav .nav_box .navButton:hover {
        cursor: pointer;
        background: rgba(31, 148, 221, 0.6);
        border: 1px solid #ffca57;
        box-shadow: inset 0 0 2px #505050; }
        .visible_nav .nav_box .navButton:hover a {
          color: #ffca57;
          text-shadow: 0 0 1px black; }
    .visible_nav .nav_box #home {
      padding: 3px 2px 1px 2px; }
    .visible_nav .nav_box .navBreak {
      width: 4px;
      height: 24px;
      margin: 0 2px;
      background: #839960;
      border: none;
      border-radius: 4px; }
  .visible_nav .btn_box_visible {
    width: 30%; }

/************ SEARCH BOX ***********************************/
.search_box {
  display: block;
  height: 92px;
  position: relative;
  margin-top: 60px;
  padding: 4px 0;
  background: rgba(148, 108, 59, 0.6);
  border-bottom: 1px solid #037d7d; }
  .search_box form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 92px; }
  .search_box .ingredient_input,
  .search_box .search_btn {
    display: block;
    height: 32px;
    width: 300px;
    color: #1a5323;
    font-family: "Gruppo", cursive;
    font-weight: 800;
    text-align: center;
    border: 1px solid #0c6b6b;
    border-radius: 6px; }
  .search_box .ingredient_input {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0 2px #505050; }
  .search_box .search_btn {
    font-size: 24px;
    background: rgba(255, 202, 87, 0.6);
    box-shadow: 0 0 2px #505050; }
    .search_box .search_btn:hover {
      cursor: pointer;
      color: #ffca57;
      text-shadow: 0 0 2px black;
      background: rgba(31, 148, 221, 0.6);
      border: 1px solid #ffca57;
      box-shadow: inset 0 0 2px #505050; }

.ingredient_box {
  display: block;
  min-height: 12rem;
  position: relative;
  background: rgba(255, 232, 116, 0.2);
  border-bottom: 1px solid #037d7d; }

/************ FRIDGE & RECIPE BOX ***********************************/
.selection_box {
  /**************** fridge ****************/
  /**************** recipe ****************/ }
  .selection_box .fridge_box {
    width: 100%;
    border-bottom: 1px solid #037d7d;
    border-bottom-width: 3px; }
    .selection_box .fridge_box .fridge_content {
      min-height: 12rem;
      background: rgba(255, 232, 116, 0.2); }
    .selection_box .fridge_box .chef_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 50px;
      position: sticky;
      bottom: 0px;
      background: rgba(148, 108, 59, 0.6);
      border-top: 1px solid #037d7d; }
      .selection_box .fridge_box .chef_box .chef_btn {
        display: block;
        height: 32px;
        width: 300px;
        color: #1a5323;
        font-family: "Gruppo", cursive;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        background: rgba(255, 202, 87, 0.6);
        border: 1px solid #0c6b6b;
        border-radius: 6px;
        box-shadow: 0 0 1px #505050; }
        .selection_box .fridge_box .chef_box .chef_btn:hover {
          cursor: pointer;
          color: #ffca57;
          text-shadow: 0 0 2px black;
          background: rgba(31, 148, 221, 0.6);
          border: 1px solid #ffca57;
          box-shadow: inset 0 0 2px #505050; }
  .selection_box .recipe_box {
    width: 100%;
    border-bottom: 1px solid #037d7d;
    border-bottom-width: 3px; }
  .selection_box .recipe_header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
    border-bottom: 1px solid #037d7d; }
    .selection_box .recipe_header .recipe_photo_box {
      width: 30%;
      overflow: hidden;
      border-right: 1px solid #037d7d; }
      .selection_box .recipe_header .recipe_photo_box .recipe_photo {
        width: 100%; }
    .selection_box .recipe_header .recipe_title_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%; }
      .selection_box .recipe_header .recipe_title_box .open_space {
        height: 22%;
        background: rgba(148, 108, 59, 0.4); }
      .selection_box .recipe_header .recipe_title_box .recipe_title {
        padding: 8px 0 8px 22px;
        color: #054a6e;
        font-family: "Jura", sans-serif, sans-serif;
        font-size: 32px;
        font-weight: 800;
        text-align: left;
        background-color: rgba(131, 153, 96, 0.8);
        border-top: 1px solid #037d7d;
        border-bottom: 1px solid #037d7d; }
  .selection_box .recipe_text_box {
    width: auto;
    min-height: 12.5rem;
    padding: 8px 12px 8px 12px;
    background: rgba(255, 232, 116, 0.2); }
    .selection_box .recipe_text_box .recipe_name {
      min-height: 1.4rem;
      min-width: 200px;
      margin-top: 12px;
      padding: 4px 0 2px 8px;
      color: #054a6e;
      font-family: "Jura", sans-serif;
      font-size: 24px;
      font-weight: 600;
      text-align: left;
      background: rgba(131, 153, 96, 0.4);
      border: 1px solid #037d7d;
      border-radius: 6px; }
    .selection_box .recipe_text_box .recipe_text {
      margin: 6px 0;
      padding: 4px 8px;
      color: #585835;
      font-family: "Catamaran", sans-serif;
      font-size: 15px;
      font-weight: 300;
      text-align: left;
      line-height: 22px;
      background: rgba(148, 108, 59, 0.1);
      border: 1px solid #037d7d;
      border-radius: 6px; }

/*# sourceMappingURL=stylesheet_index.css.map */
