* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  animation: fadeIn 2s forwards; }

/************ MAIN PAGE ************************************/
/***********************************************************/
.main_box .background_one {
  width: 100%;
  background: url("../assets/img/bg.jpg") no-repeat center;
  background-size: cover; }
.main_box .background_two {
  width: 100%;
  background: url("../assets/img/tomato.jpg") no-repeat bottom;
  background-size: cover; }

/************ SEARCH BOX ***********************************/
.search_box {
  display: block;
  height: 92px;
  margin-top: 61px;
  padding: 4px 0;
  background: #dfd7c0;
  border-bottom: 1px solid rgba(148, 108, 59, 0.28); }
  .search_box form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 92px; }
  .search_box .ingredient_input,
  .search_box .search_btn {
    display: block;
    height: 32px;
    width: 300px;
    color: #47472e;
    font-family: "Gruppo", cursive;
    font-weight: 800;
    text-align: center;
    border: 1px solid rgba(94, 87, 70, 0.6);
    border-radius: 6px; }
  .search_box .ingredient_input {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.8);
    cursor: text; }
  .search_box .search_btn {
    font-size: 24px;
    background: rgba(220, 191, 77, 0.6); }
    .search_box .search_btn:hover {
      cursor: pointer;
      color: #ffca57;
      text-shadow: 0 0 2px black;
      background: rgba(31, 148, 221, 0.6);
      border: 1px solid #ffca57;
      box-shadow: inset 0 0 2px #505050; }

.ingredient_box {
  display: block;
  min-height: 12rem;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(148, 108, 59, 0.28); }

/************ FRIDGE & RECIPE BOX ***********************************/
/**************** fridge ****************/
.fridge_box {
  width: 100%;
  border-bottom: 1px solid #5e5746;
  border-bottom-width: 1px; }
  .fridge_box .fridge_content {
    min-height: 12rem;
    background: rgba(255, 255, 255, 0.7); }
  .fridge_box .chef_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    position: sticky;
    bottom: 0px;
    background: #dfd7c0;
    border-top: 1px solid rgba(148, 108, 59, 0.28); }
    .fridge_box .chef_box .chef_btn {
      display: block;
      height: 32px;
      width: 300px;
      color: #47472e;
      font-family: "Gruppo", cursive;
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      background: rgba(220, 191, 77, 0.6);
      border: 1px solid rgba(94, 87, 70, 0.6);
      border-radius: 6px; }
      .fridge_box .chef_box .chef_btn:hover {
        cursor: pointer;
        color: #ffca57;
        text-shadow: 0 0 2px black;
        background: rgba(31, 148, 221, 0.6);
        border: 1px solid #ffca57;
        box-shadow: inset 0 0 2px #505050; }

/**************** recipe ****************/
.recipe_box,
.popup_box {
  overflow-y: scroll;
  background: white;
  border-width: 2px;
  cursor: default; }

.recipe_box {
  width: 100%;
  border-bottom: 1px solid #5e5746;
  border-bottom-width: 2px; }

.popup_box {
  width: 90%;
  margin: 8px auto;
  border: 1px solid #5e5746;
  border-radius: 3px;
  animation: scaleIn 1.5s forwards; }

.article_header {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 68px;
  background: #cac1a9;
  border-bottom: 1px solid rgba(94, 87, 70, 0.6); }
  .article_header .photo_box {
    width: 36%;
    overflow: hidden;
    border-right: 1px solid rgba(94, 87, 70, 0.6);
    border-right-width: 1px; }
    .article_header .photo_box .photo {
      width: 100%; }
  .article_header .title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    background: #cac1a9; }
    .article_header .title_box .article_title {
      padding: 4px 0 4px 14px;
      color: #054a6e;
      font-family: "Jura", sans-serif, sans-serif;
      font-size: 20px;
      font-weight: 800;
      text-align: left;
      background-color: rgba(131, 153, 96, 0.44);
      border-top: 1px solid rgba(148, 108, 59, 0.28);
      border-bottom: 1px solid rgba(148, 108, 59, 0.28); }

.text_box,
.popup_text_box {
  width: auto;
  padding: 0px 12px 12px 12px;
  overflow-y: scroll; }
  .text_box .text_title,
  .text_box .form_label,
  .popup_text_box .text_title,
  .popup_text_box .form_label {
    min-height: 1.4rem;
    min-width: 200px;
    margin-top: 12px;
    padding: 4px 0 2px 8px;
    color: #054a6e;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    background: rgba(131, 153, 96, 0.44);
    border: 1px solid rgba(148, 108, 59, 0.28);
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .text_box .paragraph,
  .text_box .text,
  .text_box .form_input,
  .text_box .form_message,
  .popup_text_box .paragraph,
  .popup_text_box .text,
  .popup_text_box .form_input,
  .popup_text_box .form_message {
    margin-bottom: 8px;
    padding: 8px 8px 6px 8px;
    color: #243611;
    color: #47472e;
    font-family: "Catamaran", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    line-height: 20px;
    background: rgba(223, 215, 192, 0.2);
    border: 1px solid rgba(148, 108, 59, 0.28);
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
    .text_box .paragraph .breakline,
    .text_box .text .breakline,
    .text_box .form_input .breakline,
    .text_box .form_message .breakline,
    .popup_text_box .paragraph .breakline,
    .popup_text_box .text .breakline,
    .popup_text_box .form_input .breakline,
    .popup_text_box .form_message .breakline {
      display: block;
      margin-top: 8px;
      border-bottom: 1px solid #cac1a9; }
    .text_box .paragraph span,
    .text_box .text span,
    .text_box .form_input span,
    .text_box .form_message span,
    .popup_text_box .paragraph span,
    .popup_text_box .text span,
    .popup_text_box .form_input span,
    .popup_text_box .form_message span {
      margin-right: 4px;
      color: #054a6e;
      font-size: 17px;
      font-weight: 500; }
  .text_box .explain_text,
  .popup_text_box .explain_text {
    margin: 4px auto;
    padding: 6px 0 10px 0;
    width: 96%;
    background: none;
    border: none;
    border-bottom: 1px solid #dfd7c0;
    border-radius: 0px; }
  .text_box .paragraph .first,
  .popup_text_box .paragraph .first {
    margin-top: -2px; }
  .text_box .paragraph .last,
  .popup_text_box .paragraph .last {
    padding-bottom: 6px;
    border-bottom: none; }

.contact_form {
  max-height: 440px;
  overflow-y: scroll;
  padding: 0 12px; }
  .contact_form .form_field_one,
  .contact_form .form_field_two {
    border: none; }
  .contact_form .form_label,
  .contact_form .form_input,
  .contact_form .form_message {
    display: block;
    margin-right: 20px;
    padding-right: 0px; }
  .contact_form .form_input,
  .contact_form .form_message {
    cursor: text; }
    .contact_form .form_input::-webkit-input-placeholder,
    .contact_form .form_message::-webkit-input-placeholder {
      color: rgba(71, 71, 46, 0.6);
      font-weight: 100; }
    .contact_form .form_input:-ms-input-placeholder,
    .contact_form .form_message:-ms-input-placeholder {
      color: rgba(71, 71, 46, 0.6);
      font-weight: 100; }
    .contact_form .form_input::placeholder,
    .contact_form .form_message::placeholder {
      color: rgba(71, 71, 46, 0.6);
      font-weight: 100; }
  .contact_form .form_label {
    width: 98%; }
  .contact_form .form_input {
    width: 96%;
    height: 20px;
    padding: 4px 8px 2px 8px; }
  .contact_form .form_message {
    width: 98%;
    padding-bottom: 0px; }
  .contact_form .open_space {
    width: 100%;
    height: 1px;
    margin: 14px 0 4px 0;
    background: #037d7d; }
  .contact_form .form_btn {
    display: block;
    height: 26px;
    margin-top: 12px;
    padding: 2px 6px;
    color: #47472e;
    font-family: "Gruppo", cursive;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    background: #dcbf4d;
    border: 1px solid rgba(12, 107, 107, 0.2);
    border-radius: 3px; }
    .contact_form .form_btn:hover {
      cursor: pointer;
      color: #ffca57;
      text-shadow: 0 0 2px black;
      background: #1f94dd;
      box-shadow: inset 0 0 1px #505050; }

.contact_footer {
  width: 100%;
  height: 36px;
  overflow: hidden;
  background: green;
  border-top: 1px solid #5e5746;
  border-top-width: 2px; }
  .contact_footer .window_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 36px;
    padding-top: 4px;
    background: #dcbf4d;
    border: none; }
    .contact_footer .window_btn p {
      color: #47472e;
      font-family: "Gruppo", cursive;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      word-spacing: 4px; }
    .contact_footer .window_btn span {
      margin: 2px 16px 0 16px;
      color: #054a6e;
      font-size: 22px;
      line-height: 16px; }
    .contact_footer .window_btn:hover {
      cursor: pointer;
      background: #1f94dd; }
      .contact_footer .window_btn:hover span {
        color: #47472e; }
      .contact_footer .window_btn:hover p {
        color: #ffca57;
        text-shadow: 0 0 2px black; }

.about_hidden,
.recipe_hidden,
.explain_hidden,
.contact_hidden {
  display: none; }

.about_visible,
.recipe_visible,
.explain_visible,
.contact_visible {
  display: block;
  height: 59.8rem;
  margin: 0 auto;
  padding: 0 8px;
  position: absolute;
  background: rgba(0, 0, 0, 0.88);
  z-index: 2; }
  .about_visible h3,
  .recipe_visible h3,
  .explain_visible h3,
  .contact_visible h3 {
    padding-top: 8px;
    color: white;
    font-family: "Gruppo", cursive;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    animation: fadeIn 2s forwards; }
  .about_visible .copyBox,
  .recipe_visible .copyBox,
  .explain_visible .copyBox,
  .contact_visible .copyBox {
    width: 84%;
    margin: -6px auto;
    position: relative;
    cursor: default;
    animation: fadeIn 2s forwards; }
    .about_visible .copyBox .our_brand,
    .recipe_visible .copyBox .our_brand,
    .explain_visible .copyBox .our_brand,
    .contact_visible .copyBox .our_brand {
      padding-bottom: 4px;
      color: #6d6d43;
      font-family: "Gruppo", cursive;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      border-bottom: 1px solid #47472e; }
      .about_visible .copyBox .our_brand span,
      .recipe_visible .copyBox .our_brand span,
      .explain_visible .copyBox .our_brand span,
      .contact_visible .copyBox .our_brand span {
        margin: 0 4px;
        font-size: 16px;
        font-weight: 500; }
      .about_visible .copyBox .our_brand .name,
      .recipe_visible .copyBox .our_brand .name,
      .explain_visible .copyBox .our_brand .name,
      .contact_visible .copyBox .our_brand .name {
        color: #136c9c;
        font-size: 22px;
        font-weight: 700; }
    .about_visible .copyBox h4,
    .recipe_visible .copyBox h4,
    .explain_visible .copyBox h4,
    .contact_visible .copyBox h4 {
      margin-top: 4px;
      color: white;
      font-family: "Gruppo", cursive;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center; }

.rights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 0;
  background: #dfd7c0;
  cursor: default; }
  .rights .left_footer {
    margin-left: 6px; }
    .rights .left_footer p {
      display: block;
      margin: 0 auto;
      color: #3d3d25;
      font-family: "Catamaran", sans-serif;
      font-size: 12px;
      font-weight: 100;
      text-align: right;
      line-height: 16px; }
      .rights .left_footer p span {
        color: #185334;
        font-family: "Jura", sans-serif;
        font-weight: 500; }
  .rights .right_footer {
    margin-right: 6px; }
    .rights .right_footer a {
      text-decoration: none; }
      .rights .right_footer a .link {
        height: 20px;
        width: 20px;
        margin-right: 4px;
        font-weight: 600;
        border: none; }
        .rights .right_footer a .link .linkImg {
          height: 18px;
          width: 18px;
          background: #cacaca;
          border: 1px solid #cacaca; }
        .rights .right_footer a .link:hover {
          animation: scaleText 2s;
          color: #ffca57;
          border: 1px solid #ffca57;
          cursor: pointer; }
      .rights .right_footer a .github {
        margin-left: 12px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(86%); }
  to {
    opacity: 1;
    transform: scale(100%); } }
@keyframes scaleText {
  0% {
    transform: scaleX(100%) scaleY(100%); }
  50% {
    transform: scaleX(110%) scaleY(120%); }
  100% {
    transform: scaleX(100%) scaleY(100%); } }

/*# sourceMappingURL=stylesheet_index.css.map */
