

$darkest_bg: rgb(202, 193, 169);
$dark_bg: rgb(223, 215, 192);
$light_bg: rgb(255, 255, 255);
$borders: 1px solid rgb(94, 87, 70);

$title_font: 'Jura', sans-serif;
$title_color: rgb(5, 74, 110);
$title_bg: rgb(131, 153, 96);

$btn_font: 'Gruppo', cursive;
$btn_bg: rgb(220, 191, 77);
$btn_border: 1px solid rgba(94, 87, 70, 0.8);

$hover_bg: rgb(31, 148, 221);
$hover_border: 1px solid rgb(255, 202, 87);
$hover_textcolor: rgb(255, 202, 87);

$shadow: rgb(80, 80, 80);

$text_font: 'Catamaran', sans-serif;
$text_color: rgb(71, 71, 46);
$text_border: 1px solid rgba(148, 108, 59, 0.28);


/************ NAV and HEADER *******************************/
/***********************************************************/

/************ NAV ******************************************/

.hidden_nav {
    display: none;
}
.visible_nav {
    display: block;
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    background: rgb(142,130,100);
    background: linear-gradient(180deg, rgba(142,130,100,1) 0%, rgba(154,140,102,1) 30%, rgba(154,140,102,1) 60%, rgba(142,130,100,1) 100%);
    border-bottom: $borders;
    cursor: default;
    z-index: 6;


    /************ Hide NAV Button ******************************/

    .btn_box_visible {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 12px 0 12px;
        z-index: 6;

        .nav_hide_btn {
            display: block;
            width: 26px;
            height: 26px;
            outline: none;
            border: $btn_border;
            border-radius: 4px;
            background: $btn_bg;
            
            .bg_img {
                display: block;
                width: 24px;
                height: 24px;
                position: relative;
                background-image: url("../assets/icon/arrow_up_red_icon.png");
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                border-radius: 3px;
            }

    /*********** NAV-hide TOOLTIP ********************************/

            .hide_nav_tooltip {
                visibility: hidden;
                width: 130px;
                top: 56px;
                left: 10px;
                padding: 4px 8px;
                position: absolute;
                background: rgb(226, 220, 184);
                border: 1px solid rgba(148, 108, 59, 0.8);
                border-radius: 6px;
                z-index: 8;

                .arrow_left {
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    left: 18px;
                    background: rgb(226, 220, 184);
                    border-left: 1px solid rgba(148, 108, 59, 0.8);
                    border-top: 1px solid rgba(148, 108, 59, 0.8);
                    z-index: 8;
                    transform: translateY(-70%) rotate(45deg);
                }
                p {
                    font-family: $text_font;
                    letter-spacing: 1px;
                    padding-top: 4px;
                    color: $text_color;
                    font-size: 17px;
                    font-weight: 500;
                    text-align: center;

                    span {
                        margin-right: 6px;
                        color: $title_color;
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                background: rgba($hover_bg, 0.6);
                border: $hover_border;
                box-shadow: inset 0 0 2px $shadow;

                .bg_img {
                    background-image: url("../assets/icon/arrow_up_yellow_icon.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    animation: rotateY 1s;
                }
                .hide_nav_tooltip {
                    visibility: visible;
                }
            }
            
        }   
    }

    /************ NAV Links ************************************/

    .main_btn_box {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 75%;

        .nav_btn_box {
            padding-top: 15px;
        
            .navButton {
                display: block;
                height: 26px;
                margin: 0 0 0 12px;
                padding: 0 8px;
                color: $text_color;
                font-family: $btn_font;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                background: $btn_bg;
                border: $btn_border;
                border-radius: 3px;

                &:hover {
                    cursor: pointer;
                    background: rgba($hover_bg, 0.6);
                    border: $hover_border;
                    box-shadow: inset 0 0 2px $shadow;
                    text-shadow: 0 0 1px black;

                    p {
                        color: $hover_textcolor;
                        animation: ease scaleAndTranslate 500ms;
                    }
                }
            }
            #home {
                padding: 3px 2px 1px 2px; 
            }
        }
    }
}

/************ HEADER ***************************************/

.header_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $title_bg;
    border-bottom: $borders;
    box-shadow: 0 2px 4px $shadow;
    cursor: default;
    z-index: 4;

    .btn_box_visible,
    .webpage_name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /************ Show NAV Button ******************************/

    .btn_box_visible {
        padding-left: 12px;

        .nav_show_btn {
            width: 26px;
            height: 26px;
            margin-top: 6px;
            padding-left: 2px;
            outline: none;
            border: $btn_border;
            border-radius: 4px;
            background: $btn_bg;

            .bg_img {
                width: 20px;
                height: 20px;
                background-image: url("../assets/icon/nav_green_icon.png");
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                border-radius: 4px;
            }
            .show_nav_tooltip {
                visibility: hidden;
                width: 130px;
                top: 56px;
                left: 10px;
                padding: 4px 8px;
                position: absolute;
                background: rgb(226, 220, 184);;
                border: 1px solid rgba(148, 108, 59, 0.8);
                border-radius: 6px;
                z-index: 8;
            }
            .arrow_left {
                display: block;
                position: absolute;
                width: 22px;
                height: 22px;
                left: 18px;
                background: rgb(226, 220, 184);
                border-left: 1px solid rgba(148, 108, 59, 0.8);
                border-top: 1px solid rgba(148, 108, 59, 0.8);
                z-index: 8;
                transform: translateY(-70%) rotate(45deg);
            }
            p, li {
                font-family: $text_font;
                letter-spacing: 1px;
            }
            p {
                padding-top: 4px;
                color: $title_color;
                font-size: 17px;
                font-weight: 500;
                text-align: center;
            }
            li {
                color: $text_color;
                font-size: 15px;
                font-weight: 300;
                text-align: left;
                line-height: 22px;
        
                span {
                    margin-right: 6px;
                    color: $title_color;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            ul {
                padding: 4px 4px 0 4px;
                list-style: none;
                border-top: 1px solid rgba(148, 108, 59, 0.8);
            }

            &:hover {
                cursor: pointer;
                background: rgba($hover_bg, 0.6);
                border: $hover_border;
                box-shadow: inset 0 0 2px $shadow;

                .bg_img {
                    background-image: url("../assets/icon/nav_yellow_icon.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    animation: rotateY 1s;
                }
                .show_nav_tooltip {
                    visibility: visible;
                }
            }
        }   
    }
    .btn_box_hidden {
        width: 11%;
        opacity: 0;
    }


    /************ WEBSITE NAME ********************************/

    .webpage_name {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;

        .title {
            width: 100%;
            color: $title_color;
            font-family: $title_font, sans-serif;
            font-weight: 900;
            letter-spacing: -1px;
            text-align: center;
            transform: scaleY(120%);
            text-shadow: 1px 1px 2px $btn_bg;
        }
    }

    /************ ABOUT Button *********************************/

    .btn_box_about {
        padding-right: 12px;

        .about_btn {
            width: 26px;
            height: 26px;
            margin-top: 6px;
            outline: none;
            border: $btn_border;
            border-radius: 4px;
            background: $btn_bg;

            .questionmark {
                margin: -6px 0 0 1px;
                font-family: $title_font;
                color: $text_color;
                font-size: 18px;
                font-weight: 500;
            }

            .about_tooltip {
                visibility: hidden;
                display: block;
                width: 130px;
                top: 56px;
                right: 10px;
                padding: 4px 8px;
                position: absolute;
                background: rgb(226, 220, 184);;
                border: 1px solid rgba(148, 108, 59, 0.8);
                border-radius: 6px;
                z-index: 8;
            }

            .arrow_right {
                display: block;
                position: absolute;
                width: 22px;
                height: 22px;
                right: 18px;
                background: rgb(226, 220, 184);
                border-left: 1px solid rgba(148, 108, 59, 0.8);
                border-top: 1px solid rgba(148, 108, 59, 0.8);
                z-index: 8;
                transform: translateY(-70%) rotate(45deg);
            }

            p, li {
                font-family: $text_font;
                letter-spacing: 1px;
            }
            p {
                padding-top: 4px;
                color: $title_color;
                font-size: 17px;
                font-weight: 500;
                text-align: center;
            }
            li {
                color: $text_color;
                font-size: 15px;
                font-weight: 300;
                text-align: left;
                line-height: 22px;
        
                span {
                    margin-right: 6px;
                    color: $title_color;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            ul {
                padding: 4px 4px 0 4px;
                list-style: none;
                border-top: 1px solid rgba(148, 108, 59, 0.8);
            }

            &:hover {
                cursor: pointer;
                
                background: rgba($hover_bg, 0.6);
                border: $hover_border;
                box-shadow: inset 0 0 2px $shadow;

                .questionmark {
                    color: $hover_textcolor;
                    animation: rotateY 1s;
                }

                .about_tooltip {
                    visibility: visible;
                }
            }
        }   
    }
}


/************ Animations ***********************************/

@keyframes scaleAndTranslate {
    0% {
        transform: scale(100%) translateZ(0);
    }
    50% {
        transform: scale(84%) translateZ(10px);
    }
    100% {
        transform: scale(100%) translateZ(0);
    }
}

@keyframes rotateY {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}